@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/rubik";
@import "@fontsource/rubik/400.css";
@import "@fontsource/rubik/400-italic.css";

body {
  margin: 0px;
  font-family: "Rubik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1B1B1B;
  color: #D3D3D3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer base {
  body {
    @apply text-slate-50;
  }
}
